<h2>Postavite novu lozinku</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <input
    type="password"
    placeholder="Nova lozinka"
    formControlName="newPassword"
  />

  <input
    type="password"
    placeholder="Potvrda lozinke"
    formControlName="confirmPassword"
  />

  <button type="submit" [disabled]="form.invalid || isLoading">
    Promijeni lozinku
  </button>
</form>

<div *ngIf="successMessage" class="success-msg">
  {{ successMessage }}
</div>

<div *ngIf="errorMessage" class="error-msg">
  {{ errorMessage }}
</div>

